<div id="crew1" style="margin-top: -2%;">
    <br>
    <h1 id="naslov">PROFESSIONAL TRAINERS</h1>
    <h5 style="text-align: center; margin-top:-2%; font-size: 1rem; font-weight: 400; color: rgb(58, 141, 106);"> <i> - meet our team and pick your partner -</i></h5> <br>
    <div id="cards">
        <div id="one">
            <img  style="width: 15vw; height: 13vw; border-radius: 50%; padding: 5% 5% 5% 5%; margin-top: 3%; box-shadow: 10px 10px 5px #ccc;
            -moz-box-shadow: 10px 10px 5px #ccc;
            -webkit-box-shadow: 10px 10px 5px #ccc;
            -khtml-box-shadow: 10px 10px 5px #ccc;" src="../../assets/img/crew1.png" alt="ALISHA">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">ALISHA MILLER</h2>
            <h4 style="font-weight: 100; font-size: 1rem;">Exercise professional Alisha has published a number of books which have become Sunday Times bestsellers. This isn’t a common achievement, and is evidence of the relatable and compassionate way that Louise discusses the relationship between nourishing your body with food and staying “lean for life”. </h4>
        </div>
        <div id="two">
            <img style="width: 15vw; height: 13vw; border-radius: 50%; padding: 5% 5% 5% 5%; margin-top: 3%; box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px rgba(87, 87, 87, 0.801);
      -khtml-box-shadow: 10px 10px 5px #ccc;" src="../../assets/img/crew2.jpg" alt="MARK">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">MARK EVANS</h2>
            <h4 style="font-weight: 100; font-size: 1rem;">Works with clients all over the world through his online personal training platform. He describes himself as a personal fitness concierge and supports clients with not only their training in the gym but also with their nutrition, and lifestyle factors which can optimise and fast track results.  </h4>
        </div>
        <div id="three">
            <img style="width: 15vw; height: 13vw; border-radius: 50%; padding: 5% 5% 5% 5%;margin-top: 3%; box-shadow: 10px 10px 5px #ccc;
            -moz-box-shadow: 10px 10px 5px #ccc;
            -webkit-box-shadow: 10px 10px 5px #ccc;
            -khtml-box-shadow: 10px 10px 5px #ccc;" src="../../assets/img/crew3.jpg" alt="BRYCE">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">BRYCE BAKER</h2>
            <h4 style="font-weight: 100; font-size: 1rem;">Bryce is one of the world's leading strength coaches, and works with some of the country’s  professional athletes and elite trainers. Bryce practices what he preaches, having reached significant success as a powerlifter, he’s supported others in weightlifting, rugby, boxing, and a range of other contact supports. </h4>
        </div>
        <div id="four">
            <img style="width: 15vw; height: 13vw; border-radius: 50%; padding: 5% 5% 5% 5%;margin-top: 3%; box-shadow: 10px 10px 5px #ccc;
            -moz-box-shadow: 10px 10px 5px #ccc;
            -webkit-box-shadow: 10px 10px 5px rgb(37, 34, 34);
            -khtml-box-shadow: 10px 10px 5px #ccc;" src="../../assets/img/crew4.jpg" alt="NOAH">
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">NOAH REALES</h2>
            <h4 style="font-weight: 100; font-size: 1rem;">Noah trains a roster of celebrity clients, is a published author and has his own brand of fitness clothing. But despite this borderline celebrity trainer status, he remains grounded. He knows that working with regular people and helping them to achieve the results they’re looking for is what gets referrals.  </h4>
        </div>
    </div>
</div>
<div class="footer">
    <h6 style="opacity: 80%; font-size: 1rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; position: relative; top: 2.5vh; left: 1vw;">Copyright 2022 © SportsCentre | Developed by Tamara</h6>
    <div id="logoa">
    <a href="https://www.facebook.com/anytimefitness" class="fa fa-facebook" style="width: 20px; height: 20px;"> </a>
    <a href="https://twitter.com/AnytimeFitness" class="fa fa-twitter" style="width: 20px; height: 20px;"></a>
    <a href="https://www.instagram.com/anytimefitness/" class="fa fa-instagram" style="width: 20px; height: 20px;"></a>
    <a href="https://www.youtube.com/user/AnytimeFitnessLLC" class="fa fa-youtube" style="width: 20px; height: 20px;"></a> </div>
  </div>