<div class="opcii">
    <h1 id="text4">Get active, choose your preference</h1>
    <div id="sliki">
        <img src="../../assets/img/preklop2.jpg" alt="pic1" id="pic1">
        <br>
        <img src="../../assets/img/preklop1.jpg" alt="pic2" id="pic2">
    </div>
    <div id="nabrojano">
        <h1>01. On-site classes</h1>
        <h3 style="line-height: 0.7cm;">Come and both workout and have fun with our crew and <br> our members in our gym of over 1.000 m2.
        <br> Stay fit, make friends and enjoy.</h3>
        <h1>02. Solo workouts</h1>
        <h3 style="line-height: 0.7cm;">Use all of our gym facilities individually, <br> unlimitedly, at whatever time you want <br> for a cheap monthly price. </h3>
        <h1>03. Online exercising</h1>
        <h3 style="line-height: 0.7cm;">You prefer working out at home? <br> You don't like going to the gym everyday? <br> Use our online advice for exercise and nutrition.</h3>
    </div>
        <h1 style="font-weight: 500; margin-top: 3rem; text-align: center; margin-left: 45rem; font-size: 1rem; display: inline-block; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 1.2rem; ">Calculate your BMI and find out what's best for you!</h1>
        <div class="card-container" id="random-button">
            <a class="card" rel="noopener" routerLink="/bmi" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
              <span><b>CHECK IT OUT >> </b> </span>
              </a>
          </div>
    </div>
    <div class="footer">
        <h6 style="opacity: 80%; font-size: 1rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; position: relative; top: 2.5vh; left: 1vw;">Copyright 2022 © SportsCentre | Developed by Tamara</h6>
        <div id="logoa">
        <a href="https://www.facebook.com/anytimefitness" class="fa fa-facebook" style="width: 20px; height: 20px;"> </a>
        <a href="https://twitter.com/AnytimeFitness" class="fa fa-twitter" style="width: 20px; height: 20px;"></a>
        <a href="https://www.instagram.com/anytimefitness/" class="fa fa-instagram" style="width: 20px; height: 20px;"></a>
        <a href="https://www.youtube.com/user/AnytimeFitnessLLC" class="fa fa-youtube" style="width: 20px; height: 20px;"></a> </div>
      </div>