<div class="container">
    <br> 
    <h2 id="text3">Our offer of trending classes</h2>
    <div class="row1">
        <div class="card-holder">
            <div class="card">
        <div class="front face">
            <div class="card-header">
            <h1>Classic fitness</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/fitness-classes.jpg" alt="">
            </div>
            <div class="card-footer">
                <h5> Read more</h5>
            </div>
        </div>
        <div class="back face">
            <div class="card-header">
            <h1>Classic fitness</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/fitness-classes1.jpg" alt="">
            </div>
            <div class="card-footer">
                <h5>Join our group fitness classes and find motivation and inspiration among the others. Add variety to your workout and hold yourself accountable.</h5>
            </div>
        </div>
      </div>
        </div>
      <div class="card-holder">
        <div class="card">
        <div class="front face">
            <div class="card-header">
            <h1>Personal training</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/personal-training.jpg" alt="">
            </div>
            <div class="card-footer">
               <h5> Read more</h5>
            </div>
        </div>
        <div class="back face">
            <div class="card-header">
            <h1>Personal training</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/personal-training1.jpg" alt="">
            </div>
            <div class="card-footer">
                <h5>You're a beginner and need some help and support? Our coaches are here for you. From teaching you the correct exercise form and technique, to creating a personalized plan based on your needs, they are on your fingertips 24/7.</h5>
            </div>
        </div>
      </div>
      </div>
      <div class="card-holder">
        <div class="card">
        <div class="front face">
            <div class="card-header">
            <h1>Combine activities</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/combine-activities.jpg" alt="">
            </div>
            <div class="card-footer">
                <h5> Read more</h5>
            </div>
        </div>
        <div class="back face">
            <div class="card-header">
            <h1>Combine activities</h1>
            </div>
            <div class="card-body">
            <img src="../../assets/img/combine-activities1.jpg" alt="">
            </div>
            <div class="card-footer">
                <h5>Save time, but exercise hardly. <br> An integrated form of training that combines lower body, upper body, trunk musculature and balance training all into one exercise, accomplishing three times as much training in the same amount of time.</h5>
            </div>
        </div>
      </div>
      </div>
      
      
    </div>
    <div class="row2">
        <div class="card-holder">
            <div class="card">
            <div class="front face">
                <div class="card-header">
                <h1>Boxing classes</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/boxing-classes.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5> Read more</h5>
                </div>
            </div>
            <div class="back face">
                <div class="card-header">
                <h1>Boxing classes</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/boxing-classes1.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5>You'll be challenged by exercises that will help develop speed, fitness, agility and power - all designed to improve your skills and stamina. The benefits go far beyond building strong arms.</h5>
                </div>
            </div>
        </div>
        </div>
        <div class="card-holder">
            <div class="card">
            <div class="front face">
                <div class="card-header">
                <h1>Yoga and pilates</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/yoga-and-pilates.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5> Read more</h5>
                </div>
            </div>
            <div class="back face">
                <div class="card-header">
                <h1>Yoga and pilates</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/yoga-and-pilates1.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5> An art and science of healthy living. <br> A great way for people of all ages to relax, stretch, keep in shape and improve both mental and physical stability.</h5>
                </div>
            </div>
        </div>
        </div>
        <div class="card-holder">
            <div class="card">
            <div class="front face">
                <div class="card-header">
                <h1>Dance fitness</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/dance-fitness.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5> Read more</h5>
                </div>
            </div>
            <div class="back face">
                <div class="card-header">
                <h1>Dance fitness</h1>
                </div>
                <div class="card-body">
                <img src="../../assets/img/dance-fitness1.jpg" alt="">
                </div>
                <div class="card-footer">
                    <h5>Lose calories that you won't even feel and stay in shape. Various types of dance, from Latin dances, <br> Zumba, Jazzercise, LaBlast, to Hip Hop Abs, TurboJam, and Bokwa. </h5>
                </div>
            </div>
        </div>
        </div>
        
    </div>
  </div>
  <div class="footer">
    <h6 style="opacity: 80%; font-size: 1rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; position: relative; top: 2.5vh; left: 1vw;">Copyright 2022 © SportsCentre | Developed by Tamara</h6>
    <div id="logoa">
    <a href="https://www.facebook.com/anytimefitness" class="fa fa-facebook" style="width: 20px; height: 20px;"> </a>
    <a href="https://twitter.com/AnytimeFitness" class="fa fa-twitter" style="width: 20px; height: 20px;"></a>
    <a href="https://www.instagram.com/anytimefitness/" class="fa fa-instagram" style="width: 20px; height: 20px;"></a>
    <a href="https://www.youtube.com/user/AnytimeFitnessLLC" class="fa fa-youtube" style="width: 20px; height: 20px;"></a> </div>
  </div>