<div id="all-programs">
    <div id="weight-loss">
        <div id="naslov1"> <h1> WEIGHT LOSS &#x2193;</h1></div>
        <div id="slika1"> <h5>If your BMI 25.0 to 30, it falls within the overweight range. If your BMI is 30.0 or higher, it falls within the obesity range. At this point, some of your aims are to reduce your appetite and hunger levels while keeping you satisfied and improve your metabolic health at the same time. Some nutritional advice is to cut back on refined carbs, keep track of your calories, stay hydrated, eat more fiber, limit sugary drinks and fruit juice, eat slowly and plan your meals in advance to prevent unnecessary overeating. &#x2193;</h5></div>
        
    </div>
    <div id="stay-in-shape">
        <div id="naslov2"> <h1> STAY IN SHAPE &#x2193;</h1></div>
        <div id="slika2"> <h5>If your BMI is 18.5 to 24.9, it falls within the normal or Healthy Weight range. You should try to maintain this levels. As always, make sure you keep track of your calorie intake, as well as your protein intake, which will keep you in shape, and if you combine it with the right exercises, you will build your muscles even more. Moreover, remember to stay hydrated, and neither skip meals nor overeat refined carbs and unhealthy sugary beverages. Keeping the balance in your diet is the key to staying fit. &#x2193; </h5> </div>
    </div>
    <div id="muscle-gain">
        <div id="naslov3"> <h1>MUSCLE GAIN &#x2193; </h1></div>
        <div id="slika3"> <h5>If your BMI is less than 18.5, it falls within the underweight range.  However, simply adding certain foods to your diet can make your weight gain efforts both healthy and more effective. The most important is, of course, the protein intake. Some ideas you could 
            consider is making more homemade protein smoothies, drinking milk, then, rice, nuts and nut butters, red meats, potatoes and starches, salmon, dried fruits etc. You could even try protein supplements if you exercise. &#x2193;</h5> </div>
    </div>
    <br>
    <video src="../../assets/img/video1.mp4" width="33.2%" controls poster="../../assets/img/thumb1.png" style="margin-right: 0.2vw; margin-top: 0.2vw;"></video>
    <video src="../../assets/img/video2.mp4" width="33.2%" controls poster="../../assets/img/thumb2.png" style="margin-right: 0.2vw; margin-top: 0.2vw;"></video>
    <video src="../../assets/img/video3.mp4" width="33.2%" controls poster="../../assets/img/thumb3.png" style="margin-top: 0.2vw;"></video>
</div>
<div class="footer">
    <h6 style="opacity: 80%; font-size: 1rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; position: relative; top: 2.5vh; left: 1vw;">Copyright 2022 © SportsCentre | Developed by Tamara</h6>
    <div id="logoa">
    <a href="https://www.facebook.com/anytimefitness" class="fa fa-facebook" style="width: 20px; height: 20px;"> </a>
    <a href="https://twitter.com/AnytimeFitness" class="fa fa-twitter" style="width: 20px; height: 20px;"></a>
    <a href="https://www.instagram.com/anytimefitness/" class="fa fa-instagram" style="width: 20px; height: 20px;"></a>
    <a href="https://www.youtube.com/user/AnytimeFitnessLLC" class="fa fa-youtube" style="width: 20px; height: 20px;"></a> </div>
  </div>