<div id="bmi-slika">
	<div id="bmi-tekst">
    <h1 id="opis">BMI - Body Mass Index </h1>
    <p id="opis2">Calculate it and see the exercising program that suits you.</p>
    <h1 id="title">BMI Calculator</h1>
	<div id="calculator">
		<p><b> Height</b> <i> (in cm)</i></p>

		<input type="text" id="height" style="border-radius: 5px; background-color: #41ba4581; width: 10rem; height: 1.5rem; border: 0px solid white; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;" >
       
		<p> <b> Weight</b> <i> (in kg)</i></p>

		<input type="text" id="weight"  style="border-radius: 5px; background-color: #41ba4581; height: 1.5rem; border: 0px solid white; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
	<br> <input type="radio" id="male" name="gender" value="Male" style="margin-top: 7%; ">
        <label for="male">Male</label>
<input type="radio" id="female" name="gender" value="Female">
<label for="female">Female</label>
		<br> <br>
		<button id="btn"  style="border-radius: 5px; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color: #c6c23f; text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1); font-size: 1.2rem; border: 0px solid white; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; margin-top: 1.5%;">Calculate</button>
	</div>
	<div id="tret">
		<div id="result"></div>
	</div>
	<div class="card-container" id="random-button">
		<a class="card" target="_blank" rel="noopener" routerLink="/programs" routerLinkActive="activebutton"
		ariaCurrentWhenActive="page">
		  <span style="font-weight:500"> <u> SEE PROGRAMS >></u></span>
		  </a>
	
	  </div>
</div>
</div>
<div class="footer">
	<h6 style="opacity: 80%; font-size: 1rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; position: relative; top: 2.5vh; left: 1vw;">Copyright 2022 © SportsCentre | Developed by Tamara</h6>
	<div id="logoa">
	<a href="https://www.facebook.com/anytimefitness" class="fa fa-facebook" style="width: 20px; height: 20px;"> </a>
	<a href="https://twitter.com/AnytimeFitness" class="fa fa-twitter" style="width: 20px; height: 20px;"></a>
	<a href="https://www.instagram.com/anytimefitness/" class="fa fa-instagram" style="width: 20px; height: 20px;"></a>
	<a href="https://www.youtube.com/user/AnytimeFitnessLLC" class="fa fa-youtube" style="width: 20px; height: 20px;"></a> </div>
  </div>